In [4]:
import numpy
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [8]:
data = pd.read_csv('data/steam-200k.csv')
data.head()

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [13]:
cols = {'151603712': 'Game_ID', 'The Elder Scrolls V Skyrim': 'Game_Name', 'purchase': 'Status', '1.0': 'Hour_Played'}
data.rename(columns=cols, inplace=True)
data.head()

     game_id                   Game_Name    Status  Hour_Played  0
0  151603712  The Elder Scrolls V Skyrim      play        273.0  0
1  151603712                   Fallout 4  purchase          1.0  0
2  151603712                   Fallout 4      play         87.0  0
3  151603712                       Spore  purchase          1.0  0
4  151603712                       Spore      play         14.9  0

In [14]:
data.drop(columns=['0'], inplace=True)

In [16]:
data.shape

(199999, 4)

In [17]:
data.duplicated().sum()

707

In [18]:
data.drop_duplicates(inplace=True)

In [19]:
data.isnull().sum()

game_id        0
Game_Name      0
Status         0
Hour_Played    0
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199292 entries, 0 to 199998
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   game_id      199292 non-null  int64
 1   Game_Name    199292 non-null  object
 2   Status       199292 non-null  object
 3   Hour_Played  199292 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.6+ MB

In [23]:
data.describe().astype('int')
data.nunique()

game_id        12393
Game_Name       5155
Status             2
Hour_Played     1593
dtype: int64

In [24]:
data['Game_Name'].unique()

array(['The Elder Scrolls V Skyrim', 'Fallout 4', 'Spore', ...,
       'Space Colony', 'Life is Hard', 'Executive Assault'], dtype=object)

In [27]:
data= data[(data['Hour_Played']>=2) & (data['status']=='play')]

KeyError: 'status'